# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea
*.iml

#Visual Studio Code
.vscode/

# Go dep
vendor/

# Test generated input and output
component/testdata/components/
component/testdata/work/
testdata/components/
testdata/work/
testdata/sample/
testdata/gittest/
testdata/gitwork/



